body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    background-image: url('https://cdn.dribbble.com/users/2361545/screenshots/4702136/farmer-4.gif');
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: center;
}


.login-container, .signup-container {
    /* background-image: url('https://cdn.dribbble.com/users/2361545/screenshots/4702136/farmer-4.gif'); */
    /* background-repeat: no-repeat; */
    background-color: #ebe6e68a;
    background-size: contain;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(245, 236, 236, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    color: #121212;
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    color: #080808;
    margin-bottom: 30px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fcf7f7;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #3700ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #9e04f7;
}

.signup-link, .login-link {
    margin-top: 20px;
}

.signup-link a, .login-link a {
    color: #007bff;
    text-decoration: none;
}

.social-login {
    margin-top: 30px;
}

.btn-social {
    width: 150px;
    padding: 12px;
    background-color: #2a65db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-social:hover {
    background-color: #2351c6;
}